<ion-header>
  <ion-navbar>
    <ion-title>register</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <h1>register</h1>
  <button ion-button color="secondary" (click)="goToInvitePage()">Invitar</button>
  <button ion-button color="danger" (click)="goToTutorialPage()">tutorial</button>
  <button ion-button color="dark" (click)="goToBack()">back</button>

  <form novalidate [formGroup]="registerForm" (ngSubmit)="saveData()">
    <button ion-button (click)="takePicture()">tomar foto</button>
    <img *ngIf="avatar" [src]="avatar" alt="avatar">
    <ion-list>
      <ion-grid no-padding>
        <ion-row no-padding>
          <ion-col width-50>
            <ion-item>
              <ion-label stacked>Nombre:</ion-label>
              <ion-input formControlName="name" type="text" placeholder="Su nombre"></ion-input>
            </ion-item>
            <ion-item *ngIf="registerForm.get('name').errors && registerForm.get('name').dirty">
              <p color="danger" *ngIf="registerForm.get('name').hasError('required')">
                Este campo es requerido
              </p>
              <p color="danger" *ngIf="registerForm.get('name').hasError('pattern')">
                No es valido
              </p>
            </ion-item>
          </ion-col>
          <ion-col width-50>
            <ion-item>
              <ion-label stacked>Apodo:</ion-label>
              <ion-input formControlName="nickname" type="text" placeholder="Su apodo"></ion-input>
            </ion-item>
            <ion-item *ngIf="registerForm.get('nickname').errors && registerForm.get('nickname').dirty">
              <p color="danger" *ngIf="registerForm.get('nickname').hasError('required')">
                Este campo es requerido
              </p>
              <p color="danger" *ngIf="registerForm.get('nickname').hasError('maxlength')">
                Te pasaste
              </p>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <ion-item>
        <ion-label stacked>Apellido:</ion-label>
        <ion-input max="8" type="number" formControlName="lastname" placeholder="Su apellido" clearInput></ion-input>
      </ion-item>
      <ion-item *ngIf="registerForm.get('lastname').errors && registerForm.get('lastname').dirty">
        <p color="danger" *ngIf="registerForm.get('lastname').hasError('required')">
          Este campo es requerido
        </p>
        <p color="danger" *ngIf="registerForm.get('lastname').hasError('minlength')">
          te falta
        </p>
        <p color="danger" *ngIf="registerForm.get('lastname').hasError('maxlength')">
          te pasaste
        </p>
      </ion-item>
      <ion-item>
        <ion-label stacked>Email:</ion-label>
        <ion-input type="email" formControlName="email" placeholder="Su email" clearInput></ion-input>
      </ion-item>
      <div formGroupName="passwordGroup">
        <ion-item>
          <ion-label stacked>Password:</ion-label>
          <ion-input type="password" formControlName="password" placeholder="Su apellido" clearInput></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Confirmar Password:</ion-label>
          <ion-input type="password" formControlName="repeatPassword" placeholder="Su apellido" clearInput></ion-input>
        </ion-item>
        <ion-item *ngIf="registerForm.get('passwordGroup').errors && registerForm.get('passwordGroup').dirty">
          <p>No coinciden</p>
        </ion-item>
      </div>
      <ion-item>
        <ion-label stacked>Edad:</ion-label>
        <ion-input type="number" formControlName="age" placeholder="Digite su edad" clearInput></ion-input>
      </ion-item>
      <ion-item *ngIf="registerForm.get('age').errors && registerForm.get('age').dirty">
        <p color="danger" *ngIf="registerForm.get('age').hasError('required')">
          Este campo es requerido
        </p>
        <p color="danger" *ngIf="registerForm.get('age').hasError('young')">
          Eres muy joven
        </p>
      </ion-item>
      <ion-item>
        <ion-label>Serie:</ion-label>
        <ion-select formControlName="serie">
          <ion-option value="1">Black mirror</ion-option>
          <ion-option value="2">Naruto Naruto Naruto Naruto Naruto</ion-option>
          <ion-option value="3">Otra serie</ion-option>
          <ion-option value="4">Dragon Ball</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Cuantos hijos</ion-label>
        <ion-range formControlName="children" min="-10" max="10" pin="true">
          <ion-label range-left>-10</ion-label>
          <ion-label range-right>10</ion-label>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label>cumpleaños</ion-label>
        <ion-datetime formControlName="date"></ion-datetime>
      </ion-item>
    </ion-list>
    <ion-list radio-group formControlName="language">
      <ion-list-header>
        Language
      </ion-list-header>

      <ion-item>
        <ion-label>Go</ion-label>
        <ion-radio checked="true" value="go"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Rust</ion-label>
        <ion-radio value="rust"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Python</ion-label>
        <ion-radio value="python"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-list >
      <ion-list-header>
        Sabores
      </ion-list-header>

      <ion-item>
        <ion-label>Chocolate</ion-label>
         <ion-checkbox color="primary" ></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Fresa</ion-label>
         <ion-checkbox color="danger" ></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Vainilla</ion-label>
         <ion-checkbox color="secondary" ></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>chontaduro</ion-label>
         <ion-checkbox color="dark" ></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list >
      <ion-list-header>
        configuraciones
      </ion-list-header>

      <ion-item>
        <ion-label>Notificaciones</ion-label>
        <ion-toggle  checked="false"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Email</ion-label>
        <ion-toggle color="danger"  checked="false"></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button block type="submit" [disabled]="registerForm.invalid">Enviar</button>
        </ion-col>
        <ion-col>
          <button ion-button block type="button">Limpiar</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  
</ion-content>
