page-profile {
    .background{
        background: color($colors, twitter, base);
        color: $my-color;
        font-family: 'Diplomata SC', cursive;
    }
    button.btn-small{
        padding: 0px !important;
        background-color: red;
    }
}
